[submodule "Plutonium"]
	path = Plutonium
	url = https://github.com/XorTroll/Plutonium
[submodule "libusbhsfs"]
	path = libusbhsfs
	url = https://github.com/DarkMatterCore/libusbhsfs
[submodule "arc"]
	path = arc
	url = https://github.com/XorTroll/arc
[submodule "libnx-ext"]
	path = libnx-ext
	url = https://github.com/XorTroll/libnx-ext
[submodule "glaze"]
	path = glaze
	url = https://github.com/stephenberry/glaze
[submodule "libnxtc"]
	path = libnxtc
	url = https://github.com/DarkMatterCore/libnxtc
